$transparent: transparent;
$grey00: #fff;
$grey01: #EFEFEF;
$grey02: #BDC0C1;
$grey03: #B2B4B9;
$grey04: #909296;
$grey05: #69767C;
$grey06: #5E616E;
$grey07: #445055;
$grey08: #262929;
$grey09: #000000;

$allGrey:('grey00', $grey00),
      ('grey01', $grey01),
      ('grey02', $grey02),
      ('grey03', $grey03),
      ('grey04', $grey04),
      ('grey05', $grey05),
      ('grey06', $grey06),
      ('grey07', $grey07),
      ('grey08', $grey08),
      ('grey09', $grey09);

$red: #E30613;
@include color-utility('red', $red);
$red1: #9D1D06;
@include color-utility('red1', $red1);
$yellow: #F9E927;
@include color-utility('yellow', $yellow);
$yellow1: #f9d924fb;
@include color-utility('yellow1', $yellow1);
$grey: #727271;
@include color-utility('grey', $grey);

@include color-utility('transparent', $transparent);

@each $name, $property in $allGrey
{
  @include color-utility(#{$name}, $property, true);
}
