$transparent: transparent;
$grey00: #fff;
$grey01: #efefef;
$grey02: #d1d0c6;
$grey03: #a1a096;
$grey04: #6b6b62;
$grey05: #383833;

$allGrey:('grey00', $grey00),
      ('grey01', $grey01),
      ('grey02', $grey02),
      ('grey03', $grey03),
      ('grey04', $grey04),
      ('grey05', $grey05);

$red: #E30613;
@include color-utility('red', $red);
$red1: #9D1D06;
@include color-utility('red1', $red1);
$yellow: #F9E927;
@include color-utility('yellow', $yellow);
$yellow1: #f9d924fb;
@include color-utility('yellow1', $yellow1);
$grey: #727271;
@include color-utility('grey', $grey);

@include color-utility('transparent', $transparent);

@each $name, $property in $allGrey
{
  @include color-utility(#{$name}, $property, true);
}
