.main-invitation {
    &.-invisible {
        @extend .p-none;
        opacity: 0;
        min-height: 0;
        height: 0;
    }

    &.-blurred {
        filter: blur(4px);
    }
    
    &.-fr {
        background-color: rgba($yellow, 0.1);

        .title__wedding {

        }
    }
    &.-nl {
        background-color: rgba($red, 0.1);
        .title__wedding {

        }
    }
    
    opacity: 1;
    min-height: 100vh;
    transition: opacity 2.2s cubic-bezier(1,-0.76, 1, 1.58);

    @extend .py-l;
    @extend .pl-xxl;
    @extend .pr-l;

    .title {
        max-height: 50vh;

        &__text {
            @extend .block;
            @extend .c-grey04;
            @extend .text-center;
            @extend .f-medium;
        }

        &__wedding {
            @extend .flex;
            @extend .flex-center;
            @extend .flex-bottom;
            
            .-bruiloft {
                width: 75%;
                @extend .m-none;
                
                #bruiloft_letter_gradient_1{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_2{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_3{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_4{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_5{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_6{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_7{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                #bruiloft_letter_gradient_8{
                    .bruiloft_gradient_stop_1 {
                        stop-color: $red1;
                    }

                    .bruiloft_gradient_stop_2 {
                        stop-color: $red;
                    }

                    .bruiloft_gradient_stop_3 {
                        stop-color: $red1;
                    }

                }
                .bruiloft_letter_gradient_0{
                    fill:url(#bruiloft_letter_gradient_1);
                }
                .bruiloft_letter_gradient_1{
                    fill:url(#bruiloft_letter_gradient_2);
                }
                .bruiloft_letter_gradient_2{
                    fill:url(#bruiloft_letter_gradient_3);
                }
                .bruiloft_letter_gradient_3{
                    fill:url(#bruiloft_letter_gradient_4);
                }
                .bruiloft_letter_gradient_4{
                    fill:url(#bruiloft_letter_gradient_5);
                }
                .bruiloft_letter_gradient_5{
                    fill:url(#bruiloft_letter_gradient_6);
                }
                .bruiloft_letter_gradient_6{
                    fill:url(#bruiloft_letter_gradient_7);
                }
                .bruiloft_letter_gradient_7{
                    fill:url(#bruiloft_letter_gradient_8);
                }
            }

            .-mariage {
                .mariage_letter_gradient_0{fill:url(#mariage_letter_gradient_1);}
                .mariage_letter_gradient_1{fill:url(#mariage_letter_gradient_2);}
                .mariage_letter_gradient_2{fill:url(#mariage_letter_gradient_3);}
                .mariage_letter_gradient_3{fill:url(#mariage_letter_gradient_4);}
                .mariage_letter_gradient_4{fill:url(#mariage_letter_gradient_5);}
                .mariage_letter_gradient_5{fill:url(#mariage_letter_gradient_6);}
                .mariage_letter_gradient_6{fill:url(#mariage_letter_gradient_7);}

                #mariage_letter_gradient_1 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_2 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_3 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_4 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_5 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_6 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

                #mariage_letter_gradient_7 {
                    .mariage_letter_gradient_stop_1 {
                        stop-color: $yellow1;
                    }
                    .mariage_letter_gradient_stop_2 {
                        stop-color: $yellow;
                    }
                    .mariage_letter_gradient_stop_3 {
                        stop-color: $yellow1;
                    }
                }

            }

            .title__text {
                background: none;
                @extend .lowercase;
                @extend .f-m;
                @extend .f-medium;
                @extend .c-grey04;
            }
        }

    }
}