@import "./layout/border/border.utility";
@import "./colors/color.utility";
@import "./layout/grid.utility";
@import "./layout/bootstrap_grid";

@import "./colors/color";
@import "./settings";
@import "./layout/responsive.utility";


@import "./layout/border/border";
@import "./layout/layout";
@import "./typo/typo";

@import "./animation/animation";

@import "./normalize";

.c-pointer
{
    cursor: pointer;
}

svg {
    display: block;
    margin: 0 auto;
}

@import './pages/language-selection-page';
@import './fragments/aside-menu';
@import './pages/main-invitation';