.c-pointer
{
    cursor: pointer;
}

.clear_button
{
    @extend .bw-none;
    @extend .p-none;
    @extend .m-none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: none;

    &:focus
    {
        outline: none;
        box-shadow: none;
    }
}
